<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/recipes">All recipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/create">Create a recipe</a>
  </li>


    {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
        <a class="hallo">Hallo {{user.username}}!</a>
      </li>
     {{else}}
     <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
      </li>
    {{/if}}

</ul>