<div class='intro'>
<h1>RECIPES</h1>
<br>
<div class="intro-link">
    <a href="/recipes">See list of all recipes!</a>
</div>
<div class="intro-link">
    <a href="/create">Create a new recipe!</a>
</div>
<img class="cook" src="/images/cook.png" alt="">
</div>
