<div class="title">
    <h1>List of all recipes:</h1>
</div>
        <div class="recipes">
            {{#each recipes}}
            <div class="recipe">
                {{> recipe }}
            </div>
            {{/each}}
        </div>


